/**
  [ sunblind ]
  A blindingly sunny theme for Reveal.js with Lora + Leto fonts and a colorful border.
  By Josh Dzielak, https://dzello.com/, License MIT
  The bold border is optional and requires some HTML. To use it:
  1. Add 4 divs to your HTML page:
    <div class="line top"></div>
    <div class="line bottom"></div>
    <div class="line left"></div>
    <div class="line right"></div>
  2. Set { margin: 0.2 } in the Reveal.js initializer to make sure
  your presentation content doesn't collide with the frame.
  Like the theme but don't like the colors? Don't fret. Just change
  $borderColor and/or $linkColor below to something else and rebuild.
  Or if you don't want to rebuild the theme just override the .line background
  property with some CSS:
  .line {
    background: <new-color>;
  }
*/

// Default mixins and settings -----------------
@import "./mixins.scss";
@import "./settings.scss";
@import "./monokai.scss";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=M+PLUS+1p);
@import url(https://fonts.googleapis.com/css?family=Lato:300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:700);
@import url(https://fonts.googleapis.com/css2?family=Trocchi&display=swap);
@import url(https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kalam&display=swap);


// store colors in variables
$hotPink: #2b5b84;
$secondaryColor: #FFD538;
$sunshine: $hotPink;
// the color of the thick border surrounding the presention
$borderColor: $hotPink;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #363636;
$headingColor: #141414;

$mainFontSize: 32px;
$mainFont: 'Lato', serif;
$headingFont: 'Lora', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 700;
$linkColor: $hotPink;
$linkColorHover: lighten( $linkColor, 15% );
$sunshineColorHover: lighten( $sunshine, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.0em;
$heading2Size: 1.8em;
$heading3Size: 1.4em;
$heading4Size: 1.2em;

section.has-light-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #141414;
  }
}

.reveal .controls {
  right: 50px;
  bottom: 50px;
}


// Theme template ------------------------------
@import "./template.scss";
// ---------------------------------------------

.reveal *, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'M PLUS 1p', sans-serif;
}

.reveal code {
  font-family: monospace;
}

.reveal pre code {
  max-height: 600px;
}

.reveal pre code span, .reveal pre code table tr td {
    font-family: monospace;
   	text-transform: none;
}

.reveal h2, .reveal h3 {
  strong {
    color: $sunshine;
  }
}

.reveal h1 {
    font-size: 3.5em;
}

.reveal h2 {
    font-size: 3em;
}

.reveal h3 {
    font-size: 2.5em;
}

.reveal .progress {
  z-index: 1000;
  color: darken($sunshine, 25%);
}

ul li {
    line-height: 2em;
}

.has-dark-background {
    h1, h2, h3 {
        color: white;
    }

    ul, p {
        color: #dedede;
    }

    strong {
        color: white;
    }
}

.reveal section img {
    border: 0;
    box-shadow: 0 0;
}

.reveal pre code.hljs {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
    padding: 15px;
}

/* Hidden titles */
#incognito, #angular-django, #python, #django, #angular, #ejemplo-web {
  h1, h2, h3 {
    display: none;
  }
}

/* hide image background in slides */
.slides section[data-background-color="#2b5b84"], #python-malaga, #angular-django, #django, #angular {
  img {
    background: none;
  }
}

@import "animations";

/* Slides with images without background */
#intro, #opensouthcode, #sobre-mi-nekmo, #python {
  a img {
    background: none;
  }
}

/* Slides without title */
#intro, #codigo-qr {
  h1, h2, h3, h4 {
    display: none;
  }
}

/* Quotes */
#definicion, #definicion-2, #definicion-3, #quejas-sobre-el-nombre {
  > p {
    display: none;
  }
  blockquote {
    p, a {
      font-family: "Trocchi", serif;
      font-weight: 400;
      font-style: normal;
    }

    p:first-child {
      text-align: left;
      padding-left: 30px;
      padding-right: 30px;
    }

    p:nth-child(2) {
      text-align: right;
      width: 100%;

      a {
        margin-right: 30px;
      }
    }
  }
}

/* Title with shadow */
#no-solo-funciones, #expertos-en-decoradores {
  strong {
    color: $secondaryColor;
  }

  h2, h3 {
    font-size: 3.5em;
    text-shadow: #000000 1px 0 10px;
  }
}


$blackComplementary: #FFD538;

#intro {
  p {
    display: inline-block;
    font-size: 3.5em;
    vertical-align: bottom;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
  }
}

#id1 {
  h2 {
    font-size: 4em;
  }
}

#sobre-mi-nekmo {
    h2 {
        width: 40%;
        font-size: 2.5em;
        display: inline-block;
        vertical-align: top;
        margin-top: 100px;
        text-align: right;
        line-height: 0.5em;;

        strong {
            font-size: 0.3em;
            color: $secondaryColor;
        }
    }
    table {
        width: 40%;
        display: inline-block;
    }
}

#python-malaga {
  h2 {
   // color: #005033;
   // //-webkit-text-stroke: 1px #ffffff;
   //text-shadow:
   //    2px 2px 0 #fff,
   //  -1px -1px 0 #fff,
   //   1px -1px 0 #fff,
   //   -1px 1px 0 #fff,
   //    1px 1px 0 #fff;
   // font-size: 3.3em;
  }
  strong {
    //color: #50066F;
    color: $secondaryColor;
  }
}

#angular-django {
  height: 100%;
  width: 100%;
  background: url(./heart.svg) center no-repeat;
  background-size: contain;

  //padding-top: 100px;

  img {
    margin: 0;
  }

  > a:nth-child(2) {
    margin-top: 150px;
    display: block;
  }

  p {
    font-size: 2em;
    margin: 0;
  }

}

#ventajas-python {
  strong {
    color: $secondaryColor;
  }

  p {
    font-size: 1.4em;
  }
}


$purpleComplementary: #C8C24E;


#filosofia-comun, #el-framework-web-para-perfeccionistas-con-plazos-de-entrega, #caracteristicas, #administracion,
#usuarios-y-permisos, #como-pueden-trabajar-juntos, #django-rest-framework, #formulario, #swagger, #api-doc, #id2,
#como-se-divide, #serializers, #serializer-personalizado, #viewsets, #modelviewset, #routers,
#como-usamos-nuestra-api-en-angular, #interfaces-en-angular, #servicios-de-angular, #angular-django-forms,
#angular-django-tables, #donde-se-encuentra, #y-esta-presentacion {
  strong {
    color: $purpleComplementary;
  }
}

#filosofia-comun {
  h2 {
    font-size: 4.5em;
  }
}

#el-framework-web-para-perfeccionistas-con-plazos-de-entrega {
  h3, strong {
    font-family: 'Kalam', cursive;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
  }
}

#caracteristicas {
  p {
    font-size: 1.2em;
  }
}

#orm {
  h3 {
    color: $purpleComplementary;
    font-size: 3.5em;
  }

  pre.code-wrapper {
    font-size: 0.7em;
  }
}

#como-pueden-trabajar-juntos {
  h2 {
    color: #ffffff;
  }
}

#proxy-conf-json {
    pre.code-wrapper {
        font-size: 0.9em;
    }
}

#id2 {
  p {
    font-size: 1.1em;
  }
}

#como-se-divide {
  p {
    font-size: 1.5em;
  }
}

#serializers {
  pre.code-wrapper {
    font-size: 0.65em;
  }
}

#serializer-personalizado {
  pre.code-wrapper {
    font-size: 0.6em;
  }
}

#viewsets {
    pre.code-wrapper {
        font-size: 0.7em;
    }
}

#routers {
    pre.code-wrapper {
        font-size: 0.7em;
    }
}

#interfaces-en-angular, #servicios-de-angular {
  pre.code-wrapper {
    font-size: 0.8em;
  }
}

#id3, #angular-django-forms, #angular-django-tables, #donde-se-encuentra {
  h2, h3 {
      color: #ffffff;
  }

  h3 {
    font-size: 2em;
  }
}

#demo {
  h3 {
    font-size: 3em;
    text-shadow: #000000 1px 0 20px;
  }
}

#donde-se-encuentra {
  h3 {
    font-size: 3em;
  }

  a {
    font-size: 2em;
    color: #ffffff;
    font-weight: bold;
    text-shadow: #333333 1px 0 20px;
  }
}

#y-esta-presentacion {
  a {
    font-size: 1.8em;
    font-weight: bold;
    color: #466FF6;
  }
}

#codigo-qr {
  img {
    background: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.55);
  }
}

#muchas-gracias-a-todos {
  h2 {
    color: white;
    font-family: 'Kalam', cursive;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
  }
}

#contactar {
  h2 {
    //color: $sunshine;
  }

  ul li {
    list-style: none;

    p {
      font-size: 120%;

      a {
        color: #dedede;
        font-weight: bold;
      }

      strong {
        color:  $secondaryColor;
      }
    }
  }
}
